extends layout

block navBar

block content
  .jumbotron
    h1= pageHeader.title
    p #{pageHeader.strapline}

  .row
    .col-12.col-md-8

      each bagel in bagels
        .card
          .card-block
            h4
              a(href="/bagel")= bagel.name
              small &nbsp;
            p.description= bagel.description
            p.rating= bagel.rating
